table {
    width: 100%;
  }

  .negative{
    color: red;
    font-weight: 700;
  }

  .positive{
    color: green;
    font-weight: 700;
  }

  th{
    background-color: black;
    color: white;
    font-size: 1.2em;
  }

