<!-- <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
        <mat-card>
            <div>
                <h3>No of Securities</h3><br/>
                <p>Active Securities</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div>
                <h3>No of Securities</h3><br/>
                <p>Inactive Securities</p>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

 -->

  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
      <div fxFlex.lg="50%" fxFlex.xs="50%" fxFlex.sm="50%">
        <mat-card>
            <div>
                <h3>No of Securities</h3><br/>
                <p>Inactive Securities</p>
            </div>
        </mat-card>
      </div>
      <div fxFlex.lg="50%" fxFlex.xs="50%" fxFlex.sm="50%">
        <mat-card>
            <div>
                <h3>No of Securities</h3><br/>
                <p>Active Securities</p>
            </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div><app-table-component></app-table-component></div>
