  <div *ngIf='showEquity' class="row container-fluid"  id="divshow" class="equity">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
      <div fxFlex="50%">
        <mat-card>
            <div>
                <h3 class="active">{{EactiveSecurities}}</h3>
            </div>
            <p>EQUITY ACTIVE SECURITIES</p>
        </mat-card>
      </div>
      <div fxFlex="50%">
        <mat-card>
            <div>
                <h3 class="inactive">{{EinactiveSecurities}}</h3>
            </div>
            <p>EQUITY INACTIVE SECURITIES</p>
        </mat-card>
      </div>
    </div>
    <br/>
    <h1 style="text-align: center; font-weight: bold;">EQUITY DETAILS</h1>
    <div><app-table-component [showEquity]="showEquity"></app-table-component></div>
  </div>


  <div *ngIf='showBonds' class="row container-fluid"  id="divshow" class="bonds">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
      <div fxFlex.lg="50%" fxFlex.xs="50%" fxFlex.sm="50%">
        <mat-card>
            <div>
                <h3 class="active">2000</h3>
            </div>
            <p>BONDS ACTIVE SECURITIES</p>
        </mat-card>
      </div>
      <div fxFlex.lg="50%" fxFlex.xs="50%" fxFlex.sm="50%">
        <mat-card>
            <div>
                <h3 class="inactive">18</h3>
            </div>
            <p>BONDS INACTIVE SECURITIES</p>
        </mat-card>
      </div>
    </div>
    <br/>
    <h1 style="text-align: center; font-weight: bold;">BONDS DETAILS</h1>
    <div><app-table-component [showBonds]="showBonds"></app-table-component></div>
  </div>
