.inactive{
  color: red;
  font-size: 2em;
  font-weight: bolder;

}

.active{
  color: #00FF00;
  font-weight: bolder;
  font-size: 2em;
}

p{
  font-size: 1.2em;
}

mat-card{
  background-color: black;
  color: white;
  font-weight: bolder;
  margin-bottom: 20px;
}

// 



